.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.general_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  background-color: var(--appbar);
  width: 375px;
  display: flex;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .logo_box {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    padding: 15px 0px;
  }

  .menu_box {
    width: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

main {
  .cards_container {
    height: 200px;
    display: flex;
    align-items: center;
    color: var(--color_primary);
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px 10px;

    .card_box {
      min-width: 300px;
      height: 180px;
      border-radius: 15px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .odd_card {
      background-image: linear-gradient(to bottom, var(--pink), var(--red));
    }

    .pair_card {
      background-image: linear-gradient(to bottom, var(--purple), var(--blue));
    }

    .margin_card {
      margin: 15px;
      height: 100%;

      .card_box_top {
        height: 33%;
      }

      .card_box_center {
        height: 33%;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        justify-content: flex-end;
      }

      .card_box_bottom {
        height: 33%;
        display: flex;
        justify-content: space-between;

        .card_box_bottom_circles {
          display: flex;

          .circle {
            width: 30px;
            height: 30px;
            background-color: white;
            border-radius: 30px;
          }

          .left_circle {
            margin-right: -7px;
            opacity: 0.7;
          }
          .right_circle {
            opacity: 0.7;
            margin-left: -7px;
          }
        }
      }
    }
  }

  .options_container {
    display: flex;
    justify-content: space-around;

    button {
      border-radius: 20px;
      border: none;
      background-color: var(--background-primary);
      color: var(--color_primary);

      width: 110px;
      height: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }

  .last_transaction_container {
    display: flex;
    align-items: center;
    justify-content: center;

    .last_transaction_box {
      background-color: var(--background-primary);
      color: var(--color_primary);
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      width: 95%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        text-align: center;
        padding: 10px;
        font-size: 20px;
      }

      .cards {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .card {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border-bottom: 2px solid rgba(0, 0, 0, 0.432);

          .name_icon {
            display: flex;
            align-items: center;
            gap: 15px;
          }
        }
      }
    }
  }

  /*classes*/
  .red_text {
    color: red;
  }

  .green_text {
    color: green;
  }
}
