<body class="container">
  <!--header / logo and menu-->
  <header>
    <!--menu-->
    <div class="menu_box">
      <img src="../../../assets/icons/icons8-menu (1).svg" width="24px" alt="">
    </div>
    <!--logo-->
    <div class="logo_box">
      <img src="../../../assets/logo/LOGO - BLACK 1.svg" width="200px" alt="">
    </div>
  </header>
  <!--main-->
  <main>
    <!--container-->
    <div class="container">

      <!--cards-->
      <div class="cards_container">
        <!--left card-->
        <div class="card_box odd_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              14.157,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- center card-->
        <div class="card_box pair_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              2.348,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="card_box odd_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              1.086.157,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--options / menu-->
      <div class="options_container">
        <!--my transactions-->
        <button>
          <img src="../../../assets/icons/currency-exchange.svg" width="40px" alt=""> Transactions
        </button>
        <!--send money-->
        <button>
          <img src="../../../assets/icons/cash-coin.svg" width="40px" alt=""> Send Money
        </button>
        <!--card-->
        <button>
          <img src="../../../assets/icons/credit-card-2-front-fill.svg" width="40px" alt=""> Card
        </button>
      </div>

      <!--last transaction-->
      <div class="last_transaction_container">
        <div class="last_transaction_box">
          <div class="">
            <h3>Last Transaction</h3>
          </div>
          <div class="cards">
            <div class="card">
              <div class="name_icon">
                <img src="../../../assets/icons/person-circle.svg" width="50px" alt="">
                <strong>Geraldo</strong>
              </div>
              <div>
                <strong class="green_text">756,80$</strong>
              </div>
            </div>
            <div class="card">
              <div class="name_icon">
                <img src="../../../assets/icons/person-circle.svg" width="50px" alt="">
                <strong>Igor</strong>
              </div>
              <div>
                <strong class="red_text">-350,00$</strong>
              </div>
            </div>
            <div class="card">
              <div class="name_icon">
                <img src="../../../assets/icons/person-circle.svg" width="50px" alt="">
                <strong>Meio-Kilo</strong>
              </div>
              <div>
                <strong class="green_text">180,00$</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
