<body class="container">
  <!--main-->
  <main>
    <!--container-->
    <div class="container">
      <app-nav-bar-top></app-nav-bar-top>
      <app-cards></app-cards>
      <!--options / menu-->
      <div class="options_container">
        <!--my transactions-->
        <button>
          <img src="../../../assets/icons/currency-exchange.svg" width="40px" alt=""> Transactions
        </button>
        <!--send money-->
        <button>
          <img src="../../../assets/icons/cash-coin.svg" width="40px" alt=""> Send Money
        </button>
        <!--card-->
        <button>
          <img src="../../../assets/icons/credit-card-2-front-fill.svg" width="40px" alt=""> Card
        </button>
      </div>

      <app-transaction-teste></app-transaction-teste>

      <app-nav-bar></app-nav-bar>

    </div>
  </main>

</body>
