.container {
  background-image: linear-gradient(to bottom,#000, rgb(17, 17, 17) );
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.general_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main {
  .options_container {
    display: flex;
    justify-content: space-around;

    button {
      border-radius: 20px;
      border: none;
      background-color: var(--background-primary);
      color: var(--color_primary);

      width: 110px;
      height: 80px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
  .container-nav-botton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

      .nav-botton{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 40%;

      }
      // .navbar_buttons{

      // }

      .button_navbar_bottom{
        width: 32px;
        height: 32px;
      }
  }
}

.top_itens{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.logo_style{
  width: 300px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.voltar, .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.side-button {
  align-items: center;
  justify-content: center;
}
