<!-- NavBottom -->
<div class="container-nav-botton">
  <div class="nav-botton">
    <div class="navbar_buttons">
      <img
      src="../../../assets/nav-button/house-door-fill.svg"
      alt=""
      class="button_navbar_bottom">
    </div>
    <div class="navbar_buttons">
      <img
      src="../../../assets/nav-button/transaction_icon.png"
      alt=""
      class="button_navbar_bottom">
    </div>
    <div class="navbar_buttons">
      <img
      src="../../../assets/nav-button/trade_icon.png"
      alt=""
      class="button_navbar_bottom">
    </div>
    <div class="navbar_buttons">
      <img
      src="../../../assets/nav-button/profile_icon.png"
      alt=""
      class="button_navbar_bottom">
    </div>
  </div>
</div>
