      <!--cards-->
      <div class="cards_container">
        <!--first card-->
        <div class="card_box odd_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              14.157,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- second card-->
        <div class="card_box pair_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              2.348,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
        <!--third card-->
        <div class="card_box odd_card">
          <div class="margin_card">
            <div class="card_box_top">
              **** 4159
            </div>
            <div class="card_box_center">
              1.086.157,00$
            </div>
            <div class="card_box_bottom">
              <div>
                04/23
              </div>
              <div class="card_box_bottom_circles">
                <div class="circle left_circle"></div>
                <div class="circle right_circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
