<div class="top_itens">
  <div class="voltar">
    <img src="../../../assets/Back_page-white.png"
    alt=""
    class="side-button">
  </div>

  <div class="logo">
    <img src="../../../assets/Gray_logo.svg"
    alt="Logo cinza"
    class="logo_style">
  </div>

  <div class="menu">
    <img src="../../../assets/Menu_page-white.svg"
    alt="Menu"
    class="side-button">
  </div>
</div>

<div class="functions">
  <div class="button">
    <img src="../../../assets/Filter_funnel-black.png"
    alt="Filter funnel"
    class="button_style">
  </div>

  <div class="button">
    <img src="../../../assets/Graphic_button.png"
    alt="Graphic Button"
    class="button_style">
  </div>

  <div class="button">
    <img src="../../../assets/Search_button.svg"
    alt="Search Button"
    class="button_style">
  </div>
</div>


<div class="transaction">
  <div class="title">
    <h3>Transaction</h3>
  </div>

  <div class="row_transaction">
    <div class="photo">
      <img src="../../../assets/Male_user.png"
      alt="Photo profile"
      class="photo_profile">
    </div>

    <div class="data_transaction">
      <div class="data-name">Binance</div>
      <div class="data-desc">Deposito</div>
    </div>

    <div class="value">R$ 2.000,00</div>



    <div class="info">
    </div>
  </div>
</div>
