<div class="container">
  <app-nav-bar-top></app-nav-bar-top>

  <div class="functions">
    <div class="button">
      <img
        src="../../../assets/transactions/Filter_funnel-black.png"
        alt="Filter funnel"
        class="button_style"
      />
    </div>

    <div class="button">
      <img
        src="../../../assets/transactions/Graphic_button.png"
        alt="Graphic Button"
        class="button_style"
      />
    </div>

    <div class="button">
      <img
        src="../../../assets/transactions/Search_button.svg"
        alt="Search Button"
        class="button_style"
      />
    </div>
  </div>

  <app-transaction-teste></app-transaction-teste>

  <app-nav-bar></app-nav-bar>

</div>
