<div class="box">
    <div class="center">
       <div class="logo">
        <img src="../../../assets/logo/LOGO - GRAY 1.png" alt="">        
       </div>
       <div class="register">
        <h1>Cadastro</h1>
       </div>
    </div>
    <div class="center">
        <div class="card">
            <form class="form">
                <div class="form-group">
                    <label>Número do Telefone:</label>
                    <input 
                    type="text" 
                    placeholder="(00) 0 0000-0000" />
                </div>
                <div class="form-group">
                    <label>Senha:</label>
                    <input 
                    type="passowrd"
                    placeholder="Digite sua senha" />
                </div>
                <div class="form-group">
                    <label>Comfirme sua senha:</label>
                    <input 
                    type="passowrd"
                    placeholder="Comfirme sua senha" />                    
                </div>
                <div class="button">
                    <button>Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
