/*font implement*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*variables*/
:root {
  --azul: #7289da;
  --preto_claro: #424549;
  --preto_claro_2: #36393e;
  --preto_escuro: #282b30;
  --preto_escuro_2: #1e2124;

}

/*global settings*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body,
html {
  background-image: var(--preto);
}
