/*font implement*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*variables*/
:root{
  --white: #fff;
  --black: #000;
}

/*global settings*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body,html{
  background-image: linear-gradient(to bottom,rgb(43, 43, 43), rgb(167, 167, 167));
}
